pandas==2.2.3 # ajouter en local
mysqlclient==2.2.4
jupysql==0.10.14
seaborn==0.13.2 # ajouter en local
grpcio==1.59.0
pymongo==4.10.1
pyspark==3.5.3
hdfs==2.7.3
minio==7.2.10
docker==7.1.0
kafka-python==2.0.2; python_version < '3.12'
kafka-python @ git+https://github.com/dpkp/kafka-python.git ; python_version >= '3.12'